body {
  background-image: url("https://i.imgur.com/i9QTuUG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ee9ca7b6;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}
h1 {
  font-family: "Pacifico";
  color: #FF4D6D;
  font-size: 24px;
}
p {
  font-family: "Arial, Helvetica, sans-serif";
  color: #F0002C;
  font-size: 15px;
}
input {
  width: 80%;
  padding: 10px;
  margin-top: 15px;
  border: 2px solid #FF4D6D;
  border-radius: 5px;
  outline: none;
}
button {
  background: #FF4D6D;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
button:hover {
  background: #D63359;
}
